<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card" style="max-width: 18rem">
        <img src="/contact.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Contact App</h5>
          <p class="card-text">
            Kontak App yang dibuat dengan menggunakan nodejs. Framework yang
            digunakan adalah expressjs dengan database mongodb. Untuk Object
            Database Modelling (ODM) menggunakan monggose. Project ini di deploy
            di heroku. untuk source code bisa dilihat
            <a href="https://github.com/CahBantul/contact-app" target="blank"
              >disini</a
            >
          </p>
          <a href="/contacts" class="btn btn-primary">Go to Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
